<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hitsquadtechnologies.sifyconnect">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".View.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.DiscoveryActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".View.signinActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.ConfigurationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.SummaryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.AlignmentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.LinkTestActivity"
            android:screenOrientation="portrait" />

        <receiver
            android:name=".BroadcostReceivers.WifiConnectionReceiver"
            android:exported="false" />

        <activity android:name=".View.SplashActivity"></activity>
        <activity android:name=".View.StaticsActivity" />
        <activity android:name=".View.TourActivity">
        </activity>
    </application>

</manifest>